@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap");
.body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #193D47;
}

.wrapper {
  background: #193D47;
  height: 3em;
  vertical-align: middle;
}

.wrapper a {
  padding-top: 1.5em;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

.titlebar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 68% 8% 8% 8% 8%;
      grid-template-columns: 68% 8% 8% 8% 8%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: left;
      align-content: left;
}

.titlebar > div {
  display: table-cell;
  background-color: #808080;
  border: solid 1px #2f4f4f;
  border-bottom: solid 2px gray;
  border-top: solid 0px;
  height: 3em;
  text-align: left;
  vertical-align: middle;
  font-size: 1.4em;
  border-left: none;
  border-right: none;
  -webkit-transition: 500ms;
  transition: 500ms;
  font-weight: bold;
  padding-top: 0.5em;
  transition: 500ms;
}

.titlebar > div a {
  text-decoration: none;
  line-height: 75px;
  color: #041F1E;
  margin-left: 1.0em;
  font-family: "Press Start 2P", cursive;
}

.facebook:hover {
  opacity: 1;
  background-color: #757575;
  border-left: none;
}

.twitter:hover {
  opacity: 1;
  background-color: #757575;
  border-left: none;
}

.youtube:hover {
  opacity: 1;
  background-color: #757575;
  border-left: none;
}

.discord:hover {
  opacity: 1;
  background-color: #757575;
  border-left: none;
}

.blank {
  border-left: solid 1px transparent;
  border-right: solid 1px transparent;
}

.facebook {
  text-decoration: none;
}

.navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 5px;
}

.navigation > div {
  display: table-cell;
  background-color: #aca9a9;
  border: solid 1px #2f4f4f;
  border-bottom: solid 2px gray;
  border-top: solid 0px;
  height: 3em;
  text-align: center;
  vertical-align: middle;
  font-size: 1.1em;
  -webkit-transition: 500ms;
  transition: 500ms;
  padding-bottom: 0.7em;
}

.navigation > div a {
  text-decoration: none;
  line-height: 75px;
  color: #041F1E;
  font-family: "Changa", sans-serif;
  font-size: 1.8em;
}

.navigation > div:hover {
  opacity: 1;
  background-color: #808080;
  border-left: none;
}

.title {
  font-family: "Press Start 2P", cursive;
}

.witcher {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 60%;
}

.text {
  font-family: "Special Elite", cursive;
  font-size: 1.2em;
}
/*# sourceMappingURL=style.css.map */