@import "variables";
@import "reset";

@media only screen and (min-width: 1280px){
    .wrapper{
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    .titlebar{
        margin-left: 10em;
        margin-right: 10em;
    }

    .titlebar > div{
        font-size: 1.4em;
        height: 3em;
    }

    .navigation > div{
        font-size: 1.1em;
        height: 3em;
    }

    .navigation{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        align-content: center;
        margin-top: 5px;
        margin-left: 10em;
        margin-right: 10em;
    }
    
    .navigation > div{
        display: table-cell;
        background-color: $navNormal;
        border: solid 1px $borderColour;
        border-bottom: solid 2px gray;
        border-top: solid 0px;
        text-align: center;
        vertical-align: middle;
        transition: 500ms;
        padding-bottom: 0.7em;
    }
    
    .navigation > div a{
        text-decoration: none;
        line-height: 75px;
        color: $textColour;
        font-family: $headerFont;
        font-size: 1.8em;
    }
    
    .navigation > div:hover{
        opacity: 1;
        background-color: $navHovered;
        border-left: none;
    }

    .footer{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        justify-content: center;
        align-content: center;
        margin-top: 5px;
        margin-left: 14em;
        margin-right: 14em;
    }

    .footer > div{
        display: table-cell;
        background-color: $navNormal;
        border: solid 2px gray;
        border-top: solid 0px;
        text-align: center;
        height: 2em;
    }

    .topnav {
        display: none;
      }
    
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        display: none;
      }
      
      .topnav a.icon {
        display: none;
      }
      
      .topnav a:hover {
        display: none;
      }
      
      .active {
        display: none;
      } 
}

@media only screen and (max-width: 1280px){
    .wrapper{
        margin-left: 0%;
        margin-right: 0%;
    }

    .titlebar{
        margin-left: 5px;
        margin-right: 5px;
    }

    .titlebar > div{
        font-size: 0.8em;
        height: 6em
    }

    .navigation{
        display: none;
    }

    .navigation > div{
        display: none;
    }

    .navigation > div a{
        display: none;
        color: $textColour;
        font-family: $headerFont;
        font-size: 1.8em;
    }

    .navigation:hover{
        display: none;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
      }
    
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        font: $titleFont;
      }

      .topnav > div{
          font: $titleFont;
      }

      .topnav a:hover{
          color: black;
      }
      
      .topnav a.icon {
        background: $navHovered;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font: $titleFont;
      }
      
      .active {
        background-color: $navNormal;
        color: white;
      } 

      .footer{
          display: none;
      }
}

 

body{
    background-color: $backgroundColour;
}

.wrapper{
    background: $backgroundColour;
    height: 3em;
    vertical-align: middle;
}

.wrapper a{
    padding-top: 1.5em;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

.titlebar{
    display: grid;
    grid-template-columns: 68% 8% 8% 8% 8%;
    justify-content: left;
    align-content: left;
}

.titlebar > div{
    display: table-cell;
    background-color: $titlebarColour;
    border: solid 1px $borderColour;
    border-bottom: solid 2px gray;
    border-top: solid 0px;
    text-align: left;
    vertical-align: middle;
    border-left: none;
    border-right: none;
    transition: 500ms;
    font-weight: bold;
    padding-top: 0.5em;    
    transition: 500ms;
}

.titlebar > div a{
    text-decoration: none;
    line-height: 75px;
    color: $textColour;
    margin-left: 0.5em;
    font-family: $titleFont;
}

.blank{
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
}

.facebook{
    text-decoration: none;
    max-width: 100%;
    max-height: 100%;
}

.twitter{
    text-decoration: none;
    max-width: 100%;
    max-height: 100%;
}

.title{
    font-family: $titleFont;
}