@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');

$navNormal: #aca9a9;
$navHovered: #808080;
$titlebarColour: #808080;
$backgroundColour: #193D47;
$textColour: #041F1E;
$borderColour: #2f4f4f;
$titleFont: 'Press Start 2P', cursive;
$contentFont: 'Special Elite', cursive;
$headerFont: 'Changa', sans-serif;
$linkHovered: #757575;