@import "layout";

@media only screen and (min-width: 1280px){
    .map{
        margin-top: 5px;
        margin-left: 12em;
        margin-right: 12em;
        width: 78%;
        height: 45em;

    }

    .text{
        font-size: 1.5em;
        margin-left: 12em;
        margin-right: 12em;
    }
}

@media only screen and (max-width: 1280px){
    .map{
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 98.5%;
        height: 30em;
    }

    .text{
        font-size: 1.0em;
    }
}

.text{
    font-family: $contentFont;
    text-align: justify;
    color: $fontColour;
}
