@import "layout";

.witcher{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 60%;
}

.text{
    font-family: $contentFont;
    font-size: 1.2em;
}