@import "layout";

@media only screen and (min-width: 1280px){
    .parallax1{
        margin-left: 14em;
        margin-right: 14em;
        width: auto;
        height: 900px;
    }

    .parallax2{
        margin-left: 14em;
        margin-right: 14em;
        width: auto;
        height: 900px;
    }

    .parallax3{
        margin-left: 14em;
        margin-right: 14em;
        width: auto;
        height: 900px;
    }

    .text-overlay1{
        margin-left: 10em;
        margin-right: 10em;
    }

    .text-overlay2{
        margin-left: 10em;
        margin-right: 10em;
    }

    .text-overlay3{
        margin-left: 10em;
        margin-right: 10em;
    }
}

@media only screen and (max-width: 1280px){
    .parallax1{
        margin-left: 5px;
        margin-right: 5px;
        width: auto;
        height: 700px;
    }

    .parallax2{
        margin-left: 5px;
        margin-right: 5px;
        height: 500px;
    }

    .parallax3{
        margin-left: 5px;
        margin-right: 5px;
        height: 500px;
    }

    .text-overlay1{
        margin-left: 5px;
        margin-right: 5px;
    }

    .text-overlay2{
        margin-left: 5px;
        margin-right: 5px;
    }

    .text-overlay3{
        margin-left: 5px;
        margin-right: 5px;
    }
}


.parallax1{
    margin-top: 0.5em;
    background-image: url('../img/the_witcher.jpg');
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.text-overlay1{ 
    font-family: $contentFont;
    font-size: 1.5em;

    background-repeat: no-repeat;
    background-size: cover;

    text-align: justify;
}

.parallax2{
    background-image: url('../img/controllers.jpg');
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: auto;
}

.text-overlay2{ 
    font-family: $contentFont;
    font-size: 1.5em;

    background-repeat: no-repeat;
    background-size: cover;

    text-align: justify;
}

.parallax3{
    background-image: url('../img/sonic.jpg');
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: auto;
}

.text-overlay3{
    font-family: $contentFont;
    font-size: 1.5em;

    background-repeat: no-repeat;
    background-size: cover;

    text-align: justify;
}