@import "layout";

@media only screen and (min-width: 1280px){
    .video{
        width: 75%;
        height: 45em;
        margin-left: 14em;
        margin-right: 14em;
        margin-top: 5px;
    }

    .parallax1{
        margin-left: 14em;
        margin-right: 14em;
        width: auto;
        height: 900px;
    }

    .parallax2{
        margin-left: 14em;
        margin-right: 14em;
        width: auto;
        height: 900px;
    }

    .parallax3{
        margin-left: 14em;
        margin-right: 14em;
        width: auto;
        height: 900px;
    }

    .text-overlay{
        margin-left: 9.5em;
        margin-right: 9.5em;
        font-size: 1.5em;
        color: $fontColour;
    }
}

@media only screen and (max-width: 1280px){
    .video{
        width: 99%;
        height: 35em;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
    }

    .parallax1{
        margin-left: 5px;
        margin-right: 5px;
        width: auto;
        height: 700px;
    }

    .parallax2{
        margin-left: 5px;
        margin-right: 5px;
        height: 500px;
    }

    .parallax3{
        margin-left: 5px;
        margin-right: 5px;
        height: 500px;
    }

    .text-overlay{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 1.5em;
    }
}


.parallax1{
    margin-top: 0.5em;
    background-image: url('../img/the_witcher.jpg');
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.text-overlay1{ 
    font-family: $contentFont;    

    background-repeat: no-repeat;
    background-size: cover;

    text-align: justify;
}

.parallax2{
    background-image: url('../img/controllers.jpg');
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: auto;
}

.text-overlay2{ 
    font-family: $contentFont;

    background-repeat: no-repeat;
    background-size: cover;

    text-align: justify;
}

.parallax3{
    background-image: url('../img/sonic.jpg');
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: auto;
}

.text-overlay3{
    font-family: $contentFont;

    background-repeat: no-repeat;
    background-size: cover;

    text-align: justify;
}